// Identy Colors
$primary-color: #ffb65e;
$seconary-color: #f0f5f9;

// background color on footer
$main-footer-color: #000000;
$secondary-footer-color: rgba(0, 0, 0, 0.87);

// text color
$main-txt-color: #30271d;
$seconary-txt-color: #635c55;

// progress color
$progress-color: #c4c4c4;

// Font
$font-family: "Montserrat", "sans-serif";
$font-size: 14px;

// Grid
$max-mobile: 600px;
$min-med: 601px;
$max-med: 992px;
$min-lg: 993px;
$max-lg: 1200px;

// container
$main-container-lg: 390px;
$main-container-m: 345px;

// navbar height
$navbar-height-l: 96px;
$navbar-height-s: 48px;
