doctype html
html(lang="en")
  //- Include head
  include ./layout/_head
  body
    //- Include navbar
    include ./layout/_navbar.pug

    //- Include header
    include ./layout/_header.pug

    //- Include Personal business page
    include ./pages/_personal_business.pug

    //- Include scripts
    include ./layout/_scripts.pug