- var previousPage = "personal_name.html";
//- Includes Componenets
include ../components/_progress_mixin.pug
include ../components/_toolbar_mixin.pug

+toolbar(25)

// Start Personal Section
.row
  .col.s12.m10.offset-m1
    // Start Personal Investing
    section.contain.personal_investing
      .container
        // progressbar on large screen
        +progress(25, "hide-on-small-only")

        .row
          .col.s11
            h2 
              .
                #[a(href="#", class="hide-on-small-only"): i(class="small material-icons") arrow_back]
                Do you want to create a personal or an organisational account?
          .col.s1
            .helper_icon
              <i class="small material-icons">help_outline</i>

        // Invest Box
        a(class="waves-effect modal-trigger" href="#ivestmodal" class="ivest_trigger")
          .invest_box.hoverable
            .invest_icon
              <svg width="40" height="40" viewBox="0 0 40 40" fill="none">
                <path d="M33.3333 35V31.6667C33.3333 27.9848 30.3486 25 26.6667 25H13.3333C9.65143 25 6.66666 27.9848 6.66666 31.6667V35" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M20 18.3333C23.6819 18.3333 26.6667 15.3486 26.6667 11.6667C26.6667 7.98477 23.6819 5 20 5C16.3181 5 13.3333 7.98477 13.3333 11.6667C13.3333 15.3486 16.3181 18.3333 20 18.3333Z" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            .invest_type
              p Personal Account

        // Invest Box
        a(class="waves-effect modal-trigger" href="#ivestmodal" class="ivest_trigger")
          .invest_box.hoverable
            .invest_icon
              <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.33334 13.6667C3.33334 12.5621 4.22877 11.6667 5.33334 11.6667H34.6667C35.7712 11.6667 36.6667 12.5621 36.6667 13.6667V33C36.6667 34.1046 35.7712 35 34.6667 35H5.33333C4.22876 35 3.33334 34.1046 3.33334 33V13.6667Z" stroke="#30271D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M26.6667 35V8.33333C26.6667 6.49238 25.1743 5 23.3333 5H16.6667C14.8257 5 13.3333 6.49238 13.3333 8.33333V35" stroke="#30271D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            .invest_type
              p Organisational Account

        // Invest Modal
        div(id="ivestmodal" class="modal")
          .modal-content
            h4.modal-title Differences between a Personal and an Organisational account:
            .main-container  
              h6.modal-subtitle 
                <svg class="modal-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M20 21V19C20 16.7909 18.2091 15 16 15H8C5.79086 15 4 16.7909 4 19V21" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M12 11C14.2091 11 16 9.20914 16 7C16 4.79086 14.2091 3 12 3C9.79086 3 8 4.79086 8 7C8 9.20914 9.79086 11 12 11Z" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                | Personal Account

              .modal-body
                ul
                  li - Tax rate on interest received: 28%
                  li - Investment limit:

                ul.modal-list
                  li 3000€ per project
                  li 10.000€ per year 
                .
                  (unless you're a Qualified Investor or have an annual income higher than 70.000€)

              h6.modal-subtitle 
                <svg class="modal-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M2 9C2 7.89543 2.89543 7 4 7H20C21.1046 7 22 7.89543 22 9V19C22 20.1046 21.1046 21 20 21H4C2.89543 21 2 20.1046 2 19V9Z" stroke="#30271D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M16 21V5C16 3.89543 15.1046 3 14 3H10C8.89543 3 8 3.89543 8 5V21" stroke="#30271D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                | Organisational Account
              .modal-body 
                ul
                  li - Tax rate on interest received: 25%
                  li - No investment limits
                  li - We will need some documents from you:
                ul.modal-list
                  li Shareholder Declaration
                  li Legal Representative ID document
                  li Articles of Association
                  li Registration Proof

          .modal-footer
            a(href=previousPage, class="modal-close waves-effect waves-light btn btn-main") Agree
